.btn-file{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    outline: none;
    cursor: pointer !important;
}
